#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  color: #4700b3;
  background-color: azure;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}

.title {
  display: flex;
  padding: 15px;
  font-size: 52px;
  text-shadow: 6px 6px 8px #e0fffd;
  background-image: linear-gradient(120deg, #6495ed 30%, #ff69b4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: center;
}

.list {
  display: flex;
  justify-content: center;
  gap: 24px;
  row-gap: 24px;
  padding: 0;
  flex-wrap: wrap;
  margin: 50px;
}

.pic {
  width: 360px;
  height: 220px;
}
